server:
  port: 8100
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
spring:
  application:
    name: book-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://172.17.0.2:3306/book_service?useTimezone=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  flyway:
    url: jdbc:mysql://172.17.0.2:3306
    schemas: book_service
    user: root
    password: root
resilience4j:
  ratelimiter:
    instances:
      default:
        limit-for-period: 2
        limit-refresh-period: 10s
  retry:
    instances:
      foo-bar:
        max-attempts: 7
        wait-duration: 250ms
        enable-exponential-backoff: true
      cambio-service:
        maxAttempts: 3
        waitDuration: 22s
springdoc:
  swagger-ui:
    query-config-enabled: true
  api-docs:
    path: /book-service/v3/api-docs
  show-actuator: true

